<!-- TEMP INFO -->
<div class="info">
	<br/>
	<hr/>
	<h2>Usage:</h2>
		<p>Place these snippets inside a div with the class="galleria", inside a parent div with the class="gallery-container"</p>
		<p>Addding images:</p>
		<pre><code lang="html">&lt;img src=&quot;src/img/pic1.jpg&quot; data-title=&quot;The image title goes here&quot; data-description=&quot;&lt;a href='src/img/pic5.jpg' download='the image title'&gt; &lt;i class='fa fa-download'&gt;&lt;/i&gt;&lt;/a&gt;&quot; &gt;</code></pre>

		<p>Adding YouTube:</p>
		<pre><code lang="html">&lt;a href=&quot;https://www.youtube.com/watch?v=b6hoBp7Hk-A&quot;&gt;&lt;span class=&quot;video&quot;&gt;&lt;/span&gt;&lt;/a&gt; </code></pre>

		<p>Adding Vimeo:</p>
		<pre><code lang="html">&lt;a href=&quot;https://vimeo.com/12309423&quot;&gt;&lt;span class=&quot;video&quot;&gt;&lt;/span&gt;&lt;/a&gt; </code></pre>

		<!-- <p>Adding mySurfTV:</p>
		<pre><code lang="html">&lt;a href=&quot;http://www.mysurf.tv/categories/exclusive/558-seven-waves-we-wanted-to-see-at-the-quiksilver-pro/embed&quot;&gt;&lt;img class=&quot;iframe&quot; src=&quot;src/img/videoThumb.jpg&quot;&gt;&lt;/a&gt; </code></pre> -->
		<br/><br/><br/><br/><br/><br/><br/>

		<!-- <p>Note</p> -->
</div>

<style type="text/css">
	.info {
		max-width: 800px;
		margin: auto;
		display:block;
	}

	pre {
		display:block;
		overflow:scroll;
		padding:5px;
		background-color: #eee;
	}

	code {
			white-space: pre;
			font-family: monospace;
		}
</style>