* {
  font-family: sans-serif; }

.gallery-container {
  display: block;
  width: 700px;
  margin: auto;
  position: relative; }

.nav-icon {
  font-size: 30px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 60px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  margin: 10px;
  position: relative; }

#right {
  float: right; }

.navigation {
  z-index: 1000; }
