* {
  font-family: sans-serif; }

.gallery-container {
  display: block;
  max-width: 700px;
  height: 467px;
  margin: auto;
  position: relative; }

.nav-icon {
  font-size: 20px;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #333;
  color: #fff;
  margin: 10px;
  opacity: 0.8;
  cursor: pointer;
  transition: background-color 0.3s; }
  .nav-icon:hover {
    background-color: #000; }

a {
  color: #eee;
  text-decoration: none; }
  a:hover {
    color: #fff;
    border-bottom: 1px solid #fff; }

#right {
  float: right; }

.navigation {
  transform: translateY(-110%); }
